jieba
pillow
psutil
sympy
pyenchant
pypinyin
pytz
psutil
feedparser
aiohttp
aiocqhttp
aiocache
imagehash
PyAutoGUI
"nonebot[scheduler]"
mss
html2image
numpy
matplotlib
colorspacious
sniffio
PyGetWindow
cn2an
httpx
anyio
zhipuai
pyzbar
# opencv-python