aiocache==0.12.3
aiocqhttp==1.4.4
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
attrs==25.3.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
cn2an==0.5.23
colorspacious==1.1.2
contourpy==1.3.2
cycler==0.12.1
feedparser==6.0.11
Flask==3.1.1
fonttools==4.59.0
frozenlist==1.7.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
html2image==2.0.7
httpcore==1.0.9
httpx==0.28.1
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
multidict==6.6.3
nonebot==1.9.1
numpy==2.3.1
packaging==25.0
pillow==11.3.0
priority==2.0.0
proces==0.1.7
propcache==0.3.2
psutil==7.0.0
PyAutoGUI==0.9.54
pydantic==2.11.7
pydantic_core==2.33.2
PyGetWindow==0.0.9
PyJWT==2.8.0
PyMsgBox==1.0.9
pyparsing==3.2.3
pyperclip==1.9.0
pypinyin==0.55.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python3-xlib==0.15
pytweening==1.2.0
pytz==2025.2
Quart==0.20.0
requests==2.32.4
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
sympy==1.14.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzlocal==5.3.1
urllib3==2.5.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.20.1
zhipuai==2.1.5.20250725
