jieba
pillow
psutil
sympy
pyenchant
pypinyin
pytz
psutil
feedparser
aiohttp
aiocqhttp
imagehash
PyAutoGUI
mss
html2image
numpy
matplotlib
colorspacious
PyGetWindow
cn2an
httpx
anyio
zhipuai
pyzbar
# opencv-python